.page-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    background-color: #eceff1;
    overflow: scroll;
    flex-direction: column;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: .25rem;
    padding: 2rem 1rem 2.5rem 1rem;
    margin-top: 5rem;
    display: flex;
    align-self: center;
    // width: 80%;
}

.sign-in{
    // height: max(20rem,80%);
    // justify-self: center;
}

.create-account{
    height: 80%;
}

.login-input{
    margin-bottom: 1rem;
    width: 20rem;
    height: 1.5rem;
    padding: .5rem .5rem .5rem .75rem;
    border: 1px solid #b0bec5;
    border-radius: .25rem;
}

.login-button{
    margin-top: .5rem;
    width: 21.5rem;
    height: 2.75rem;
    background-color: #455a64;
    color: #eceff1;
    border-radius: .25rem;
    border: 1px solid #b0bec5;
}

.sign-up-in-button{
    color: #455a64;
    background-color: white;
    border: none;
    margin-top: 1.5rem;
    margin-right: 1.7rem;
    align-self: flex-end;
}

.logo{
    width: 30%;
    height: 30%;
    padding-bottom: 2rem;
}

.error{
    color: red;
    font-size: 0.75rem;
    margin-bottom: .5rem;
    margin-top: 0;
}

.logout-button{
    justify-content: flex-end;
    margin-right: 10rem;
    margin-top: 2rem;
    display: flex;
    width: 100%;
}

.records-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 40rem;
    background-color: white;
    border-radius: .25rem;
    margin-top: 2rem;
    padding: 3rem 3rem 3rem 3rem;
}

.accordian-spacing{
    display: flex;
    margin-bottom: .25rem;
}

.add-workout-button{
    border-radius: .25rem;
    background-color: white;
    border: 1px solid #b0bec5;
    margin-bottom: 1rem;
    width: 10rem;
    height: 2rem;
}

.add-workout-div{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.title-button-container{
    display: flex;
    flex-direction: row;
}

.title-container{
    display: flex;
    height: 1rem;
    width: 50%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.exercise-card-container{
    display: flex;
    padding-left: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;

    .exercise-title-container{
        display: flex;
        width: 100%;
        padding-bottom: 0.5rem;

        .exercise-title{
            display: flex;
            width: 70%;
        }

        .exercise-button-container{
            display: flex;
            width: 30%;
            justify-content: flex-end;

            .edit-button{
                margin-top: 0.5rem;
                width: 6rem;
                height: 2rem;
            }

            .save-cancel-button{

            }
        }
    }

    .repset-container{
        display: flex;
        padding-bottom: 0.5rem;

        .repset-input{
            display: flex;
            // width: 50%;
        }
    }
}